{% extends 'frontend/base.html' %}

{% block content %}
<section class="pt-8 pt-xl-9">
  <div class="container">
    <!-- Breadcrumbs -->
    

    <!-- Blog Content -->
    <div id="blog-container" class="row g-4 g-lg-6">
      <!-- Blog posts will be dynamically loaded here -->
    </div>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-between my-4">
      <button id="prev-page" class="btn btn-secondary">Previous</button>
      <button id="next-page" class="btn btn-secondary">Next</button>
    </div>
  </div>
</section>
{% endblock content %}
